.gpt3__trees {
    display: flex;
    flex-direction: column;
  }
  
  .gpt3__trees-heading {
    width: 100%;
    text-align: center;
  
    margin-bottom: 3rem;
  }
  
  .gpt3__trees-heading h2 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
  }
  
  .gpt3__trees-container {
    display: flex;
    flex-direction: column;
  }
  
  .gpt3__trees-container_groupA {
    flex: 0.75;
    margin-bottom: 2rem;
  }
  
  .gpt3__trees-container_groupB {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  
  @media screen and (max-width: 990px) {
    .gpt3__trees-container {
      flex-direction: column;
    }
  
    .gpt3__trees-container_groupA .gpt3__trees-container_info {
      width: flex;
    }
  
    .gpt3__trees-container_groupA .gpt3__trees-container_info-image {
      height: flex;
    }
  }
  
  @media screen and (max-width: 950px) {
    .gpt3__trees-container_groupB {
      grid-template-columns: repeat(1, 1fr);
    }
    .gpt3__trees-container_groupA {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .gpt3__trees-container_groupA .gpt3__trees-container_info {
      width: 100%;
    }
  
    .gpt3__trees-heading h2 {
      font-size: 46px;
      line-height: 52px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .gpt3__trees-heading h2 {
      font-size: 34px;
      line-height: 42px;
    }
  }